* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(158, 219, 255);
    text-align: center;
}
h1 {
    padding-top: 1rem;
    color: #4f2009;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    background-color: #FFC60A;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #4f2009;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: rgb(254, 5, 159);
    color: #FFC60A;
    border: 1px solid #FFC60A;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: rgb(254, 5, 188);
    color: #FFC60A;
    border: 1px solid #FFC60A;
}

#msg{
    font-size: 5vmin;
    color: #4f2009;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}